*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
  background-color: rgba(255, 0, 0, 0.389);
   
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.dev
{
    color: white;
}
.weapon{
    background-color:rgba(255, 255, 255, 0.595);
    width: 400px;
    border-radius: 20px;
}
.paper{
    background-image: url(paper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stone{
    background-image: url(stone.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.scissors{
    background-image: url(scissors.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.weapon button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    background-color: black;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;

}

body{

    /* background: linear-gradient(to right,#4568DC ,#B06AB3); */
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.title{
    color: white;
    font-size: 40px;

}
.red{
    color: red;
}
.title p{
    margin-left: 50px;
}
.box{
   background: rgba(163, 5, 5, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.weapon{
    display: flex;

}
.selection{
    display: flex;
    gap: 2rem;
}
.ans{
    font-size: 30px;
}
#user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#computer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.selection h1{
    position: relative;
    top: 10%;
    font-size: 70px;
}
